<h1> Guessing Numbers! </h1>
<h2> New Game </h2>

<a href ="/games">Back</a></li>

<p>
<% form_for @game, games_path do |f| %>
	<%= f.input :guess_count %>
  <%= label_tag(:q, 'Guess between 1 and 10:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Enter guess") %>
<% end %>
</p>

