<h1> Guessing Numbers! </h1>
<a href ="/games">All Games</a></li>
<a href ="/games/new">New Game</a></li>

<p>
	<strong>You guessed:</strong>
	
</p>

<p>
	<strong>The answer is:</strong>
	<%= @game.answer %>
</p>

<a href ="/games/new">Play again?</a></li>